#tarjeta {
  color: black;
  background-color: aliceblue;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  font-size: 20px;
}

#deleteContainer {
  display: flex;
  justify-content: center;
}

#imageContainer {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  height: 250px;
  width: 100%;

}
img{
  border-radius: 2em;
  padding: 1em;
}
#imgButton{
  display: flex;
  flex-direction: column;
  align-items: center;

}